@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Roboto", sans-serif;
}

// ====== scss variables declarations ====== //

$soft-Pink: #f4a6c1;
$deep-Purple: #5a2d82;
$sky-Blue: #6ec1e4;
$teal-Green: #2bb673;
$coral-Orange: #ff6f61;
$cool-Gray: #8a8a8a;
$dark-Navy: #1a7fe4;
$mint-Green: #98ff98;
$warm-Brown: #8b5a2b;
$light-Lavender: #e6d9ff;
$primary-dark:#000000;
$primary-white:#ffffff;
$vento-Mehrum:#4d0606;
$font-Weights: (
    "regular":400,
    "medium":500,
    "bold":700
);

@mixin width-90{
    width: 900px;
    max-width: 900px;
}

$ultra-padding: 20px 30px;
$horizontal-padding: 10px;
$bordr-radius:0.2rem;
$txt-center:center;
$ultra-margin:20px 0px;
$box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

@mixin bordr-box{
    border-width: 0.5px;
    border-style: solid;
    border-color: #79717191;
}

$font-sizes:(
  "sm": 14px,
  "md": 16px,
  "lg": 20px,
  "xl": 24px
);

@mixin flex-center{
    display: flex;
    justify-content: space-between;
    // align-items: center;
    flex-wrap: wrap;
}

@mixin flex-center-align{
    display: flex;
    justify-content: center;
}

h1{
    color: $primary-dark;
    text-align: $txt-center;
}

.signup-frm img {
  display: block;
  margin: 0 auto;
}


.signup-frm p{
    color: $cool-Gray;
    text-align: $txt-center;
    font-size: map-get($font-sizes, "sm" );
}

.signup-frm form span{
    color: $cool-Gray;
    font-size: map-get($font-sizes, "sm" )
}


.form-section{
   position: relative;
}

.signup-frm{
    @include width-90;
    border-radius: $bordr-radius;
    padding: $ultra-padding;
    background-color: $primary-white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: $box-shadow;
}

.frm_input_main{
    margin: $ultra-margin;
    @include flex-center;
}

.input_boxes{
    width: calc(98% / 2);
    position: relative;
}

.dark_input{
    height: 56px;
    width: 100%;
    outline: none;
    @include bordr-box;
    border-radius: $bordr-radius;
    padding: 0.375rem 0.75rem;
    display: inline-block;
}


.input_boxes  label{
    font-size: 12px;
    color: $cool-Gray;
    text-transform: capitalize;
    position: absolute;
    left: 10px;
    top: 15%;
    background-color: $primary-white;
}

input.dark_input:focus + label{
    transform: scale(1) translateY(-0.8rem) translateX(0rem);
    transition-behavior: normal;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}

// ====== Custom Dropdown Menubar ====== //

 .dropdown-menubar{
    height: 56px;
    @include bordr-box;
    border-radius: $bordr-radius;
    padding: 0.375rem 0.75rem;
    display: flex;
    align-items: center;
    font-size: 12px;
    color:$cool-Gray;
    cursor: pointer;
 }
 .dropdown-lists{
    width: 100%;
    @include bordr-box;
    background-color: $primary-white;
    border-radius: $bordr-radius;
    display: none;
 }
 .dropdown-lists ul{
    list-style: none;
 }
 .dropdown-lists ul li{
     padding: 0.375rem 0.75rem;
     font-size: 14px;
     color: $cool-Gray;
 }
  .dropdown-lists ul li:hover{
    background-color: $light-Lavender;
  }

   .dropdown-wrapper:hover  .dropdown-lists{
    display: block;
   }
  
.btn_submit{
   @include flex-center-align;
   margin: $ultra-margin;
}

.btn_submit button{
    background-color: $vento-Mehrum;
    cursor: pointer;
    font-size: 14px;
    color: $primary-white;
    border: none;
    padding: 10px 20px;
    border-radius: $bordr-radius;
}
.btn_submit button:hover{
    background-color: $coral-Orange;
}
// ==== code ends ==== //

